{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Report
{% endblock %}
{% block head %}
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
     {% include 'nav.html' %}
    <div class="table">
        <h1 style="text-align: center">TEST REPORT</h1>
        <div class="trow divider">
            <div class="tentry border">
                <div class="text">SERIAL NO:</div>
                <div class="value">{{ report.serial_no }}</div>
            </div>
            <div class="tentry border">
                <div class="text">GAS CONTROL NO.</div>
                <div class="value">{{ report.gas_control_no }}</div>
            </div>
        </div>

        <div class="trow divider">
            <div class="tentry border justify_center">
                <div class="text">MODEL</div>
                <div class="value">{{ report.model.name }}</div>
            </div>
            <div class="tentry border justify_center">
                <div class="text">DESTINATION</div>
                <div class="value">{{ report.destination.name }}</div>
            </div>
            <div class="tentry border justify_center">
                <div class="text">GAS TYPE</div>
                <div class="value">{{ report.gas_type.name }}</div>
            </div>
        </div>

        <div class="col border">
            <div class="trow space_between divider">
                <div class="tentry">
                    <div class="text">
                        TEST NO:
                    </div>
                    <div class="value">1 of 1</div>
                </div>
                <div class="tentry">
                    <div class="text">
                        TEST RESULT:
                    </div>
                    <div class="value">{{ results|safe }}</div>
                </div>
            </div>

            <!--table2  -->
            <div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="text">PAT TEST</div>
                    </div>
                    <div class="tentry border">
                        <div class="text">TEST</div>

                    </div>
                    <div class="tentry border">
                        <div class="text">STANDARD</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">EARTH CONTINUITY</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.earth_continuity }} Ω（{{ judge_list.earth_continuity|safe }})</div>

                    </div>
                    <div class="tentry border">
                        <div class="value">LESS THAN 0.1 Ω</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">INSULATION</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.insulation }}M Ω（{{ judge_list.insulation|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">GREATER THAN 1MΩ</div>
                    </div>
                </div>
            </div>
            <!--table3  -->
            <div style="margin-top: 20px">
                <div class="trow">
                    <div class="tentry border">
                        <div class="text">BURNER PRESSURE SETTING</div>
                    </div>

                    <div class="tentry border">
                        <div class="text">STANDARD</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">LINE PRESSURE</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.line_pressure }}（{{ judge_list.line_pressure|safe }})</div>

                    </div>
                    <div class="tentry border">
                        <div class="value">2.75</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">SET PRESSURE HIGH</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.set_pressure_high }}（{{ judge_list.set_pressure_high|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">1.7</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">SET PRESSURE LOW</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.set_pressure_low }}（{{ judge_list.set_pressure_low|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">0.5</div>
                    </div>
                </div>
            </div>
            <!--table4  -->
            <div style="margin-top: 20px">
                <div class="trow">
                    <div class="tentry border">
                        <div class="text">FLAME ROD CURRENT</div>
                    </div>

                    <div class="tentry border">
                        <div class="text">STANDARD</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">STAGE {{ report.stage_1_key }}</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">FRONT {{ report.stage_1_value }}（{{ judge_list.stage_1_value|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">Greater than 3.0</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">STAGE {{ report.stage_2_key }}</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">FRONT {{ report.stage_2_value }}（{{ judge_list.stage_2_value|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">Greater than 3.0</div>
                    </div>
                </div>
            </div>

            <!--table5  -->
            <div style="margin-top: 20px">
                <div class="trow">
                    <div class="tentry border">
                        <div class="text">RUN CURRENT</div>
                    </div>

                    <div class="tentry border">
                        <div class="text">STANDARD</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">HIGH</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.run_current_high }}A（{{ judge_list.run_current_high|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">0.19 to 0.21</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">LOW</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.run_current_low }}A（{{ judge_list.run_current_low|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">0.14 to 0.16</div>
                    </div>
                </div>
            </div>

            <!--table6  -->
            <div style="margin-top: 20px">
                <div class="trow">
                    <div class="tentry border">
                        <div class="text">RUN LEAKAGE</div>
                    </div>
                    <div class="tentry border">
                        <div class="text">STANDARD</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">HIGH</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.run_leakage_high }}mA（{{ judge_list.run_leakage_high|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">Less than 3.5 mA</div>
                    </div>
                </div>
                <div class="trow">
                    <div class="tentry border">
                        <div class="value">LOW</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">{{ report.run_leakage_low }}mA（{{ judge_list.run_leakage_low|safe }})</div>
                    </div>
                    <div class="tentry border">
                        <div class="value">Less than 3.5 mA</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col_entry" style="margin-top: 10px">
            <div class="tentry border">
                <div class="text">COMMENTS</div>
            </div>
            <div class="tentry border">
                <textarea style="width: 100%;height: 50px" disabled>{{ report.comments }}</textarea>
            </div>
        </div>
        <div class="trow">
            <div class="tentry border">
                <div class="text">TESTER ID</div>
                <select>
                    <option>{{ test_id }}</option>
                </select>
            </div>
            <div class="tentry border" style="width: 100%">
                <div class="text-small">{{ time }}</div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}