{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Report
{% endblock %}
{% block head %}
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% include 'nav.html' %}
    <div class="tt">
        <h1 style="text-align: center">TEST REPORT</h1>
        <div class="trow divider">
            <div class="tentry border">
                <div class="text">SERIAL NO:</div>
                <div class="value">10020</div>
            </div>
            <div class="tentry border">
                <div class="text">GAS CONTROL NO.</div>
                <div class="value">112385</div>
            </div>
        </div>

        <div class="trow divider">
            <div class="tentry border justify_center">
                <div class="text">MODEL</div>
                <div class="value">R1B2323</div>
            </div>
            <div class="tentry border justify_center">
                <div class="text">DESTINATION</div>
                <div class="value">NZ</div>
            </div>
            <div class="tentry border justify_center">
                <div class="text">GAS TYPE</div>
                <div class="value">LPG</div>
            </div>
        </div>

        <div class="col border">
            <div class="trow space_between divider">
                <div class="tentry">
                    <div class="text">
                        TEST NO:
                    </div>
                    <div class="value">1 of 2</div>
                </div>
                <div class="tentry">
                    <div class="text">
                        TEST RESULT:
                    </div>
                    <div class="value">{{ results|safe }}</div>
                </div>
            </div>
            <div class="trow divider">
                <table border="1" cellspacing="0">
                    <tr>
                        <th>PAT TEST</th>
                        <th>STANDARD</th>
                        <th>TEST</th>
                    </tr>
                    <tr>
                        <td>EARTH CONTINUITY</td>
                        <td>LESS THAN 0.1 Ω</td>
                        <td>{{ report.earth_continuity }} Ω（{{ judge_list.earth_continuity|safe }})</td>
                    </tr>
                    <tr>
                        <td>INSULATION</td>
                        <td>Greater then 1MΩ</td>
                        <td>{{ report.insulation }} MΩ（{{ judge_list.insulation|safe }})</td>
                    </tr>
                </table>
                <table border="1" cellspacing="0">
                    <tr>
                        <th>/</th>
                        <th>/</th>
                    </tr>
                    <tr>
                        <td>VOLTAGE</td>
                        <td>{{ report.voltage }}</td>
                    </tr>
                    <tr>
                        <td>FREQUENCY</td>
                        <td>{{ report.frequency }}</td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table border="1" cellspacing="0">
                    <tr>
                        <th>Burner Secondary Pressure Setting</th>
                        <th>STANDARD</th>
                        <th>TEST</th>
                    </tr>
                    <tr>
                        <td>Ignition</td>
                        <td>0.98@ {{ report.line_pressure }}Kpa</td>
                        <td>{{ report.ignition }}（{{ judge_list.ignition|safe }})</td>
                    </tr>
                    <tr>
                        <td>PL (STAGE 1)</td>
                        <td>0.18@ {{ report.line_pressure }}Kpa</td>
                        <td>{{ report.pl_stage1 }}（{{ judge_list.pl_stage1|safe }})</td>
                    </tr>
                    <tr>
                        <td>PF (STAGE 3)</td>
                        <td>0.67@ {{ report.line_pressure }}Kpa</td>
                        <td>{{ report.pl_stage3 }}（{{ judge_list.pl_stage3|safe }})</td>
                    </tr>
                    <tr>
                        <td>PA (STAGE 4)</td>
                        <td>0.30@ {{ report.line_pressure }}Kpa</td>
                        <td>{{ report.pl_stage4 }}（{{ judge_list.pl_stage4|safe }})</td>
                    </tr>
                    <tr>
                        <td>PH (STAGE 7)</td>
                        <td>0.78@ {{ report.line_pressure }}Kpa</td>
                        <td>{{ report.pl_stage7 }}（{{ judge_list.pl_stage7|safe }})</td>
                    </tr>
                    <tr>
                        <th>POV CHARACTERISTIC</th>
                    </tr>
                    <tr>
                        <td>STAGE 70 @1.50 -3.00kPa</td>
                        <td>RANGE</td>
                        <td>kPa</td>
                    </tr>
                    <tr>
                        <td>STAGE 10 @1.50 -3.00kPa</td>
                        <td>RANGE</td>
                        <td>kPa</td>
                    </tr>
                </table>
                <table border="1" cellspacing="0">
                    <tr>
                        <th>/</th>
                        <th>STANDARD</th>
                        <th>TEST</th>
                    </tr>
                    <tr>
                        <td>Pre-purge</td>
                        <td>10-18sec</td>
                        <td>{{ report.pre_purge_period }} ({{ report.pre_purge_period|safe }})</td>
                    </tr>
                    <tr>
                        <td>Convection Fan ON</td>
                        <td>10-16sec</td>
                        <td>{{ report.cony_fan_on }} ({{ judge_list.cony_fan_on|safe }})</td>
                    </tr>
                    <tr>
                        <td>Ignition Time</td>
                        <td>6-17sec</td>
                        <td>{{ report.ignition_time }} ({{ judge_list.ignition_time|safe }})</td>
                    </tr>
                    <tr>
                        <td>CUT OFF RESPONSE</td>
                        <td>LESS than 2</td>
                        <td>{{ report.cut_off_response }} ({{ judge_list.cut_off_response|safe }})</td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>
                        <th>\</th>
                        <th>\</th>
                        <th>STAGE 7</th>
                        <th>STAGE 4</th>
                        <th>STAGE 3</th>
                        <th>STAGE 1</th>
                        <th>EXTRA LOW</th>
                    </tr>
                    <tr>
                        <th trowspan="2">Convection fan RPM</th>
                        <td>Standard</td>
                        <td>1810-2010</td>
                        <td>\</td>
                        <td>1510-1710</td>
                        <td>980-1180</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Results</td>
                        <td>{{ report.combustion_stage_7 }} ({{ judge_list.combustion_stage_7|safe }})</td>
                        <td>\</td>
                        <td>{{ report.combustion_stage_3 }} ({{ judge_list.combustion_stage_3|safe }})</td>
                        <td>{{ report.combustion_stage_1 }} ({{ judge_list.combustion_stage_1|safe }})</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <th trowspan="2">Electric Power WATTS</th>
                        <td>Standard</td>
                        <td>70-90</td>
                        <td>\</td>
                        <td>\</td>
                        <td>50-63</td>
                        <td>42-53</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Results</td>
                        <td>{{ report.electric_stage_7 }} ({{ judge_list.electric_stage_7|safe }})</td>
                        <td>\</td>
                        <td>\</td>
                        <td>{{ report.electric_stage_1 }} ({{ judge_list.electric_stage_1|safe }})</td>
                        <td>{{ report.electric_stage_low }} ({{ judge_list.electric_stage_low|safe }})</td>
                    </tr>
                    <tr>
                        <th trowspan="2">Gas Flow Litres/Minute</th>
                        <td>Standard</td>
                        <td>16.0-19.0</td>
                        <td>12.0-14.0</td>
                        <td>9.0-12.0</td>
                        <td>4.0-6.0</td>
                        <td>0.2-1.5</td>
                    </tr>
                    <tr>
                         <td></td>
                        <td>Results</td>
                        <td>{{ report.gas_flow_stage_7 }} ({{ judge_list.gas_flow_stage_7|safe }})</td>
                        <td>{{ report.gas_flow_stage_4 }} ({{ judge_list.gas_flow_stage_4|safe }})</td>
                        <td>{{ report.gas_flow_stage_3 }} ({{ judge_list.gas_flow_stage_3|safe }})</td>
                        <td>{{ report.gas_flow_stage_1 }} ({{ judge_list.gas_flow_stage_1|safe }})</td>
                        <td>{{ report.gas_flow_stage_low }} ({{ judge_list.gas_flow_stage_low|safe }})</td>

                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>
                        <th>POSITION</th>
                        <th>LIMIT</th>
                        <th>1th READING</th>
                        <th>2th READING</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><0.8 m/s²</td>
                        <td>\</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><0.8 m/s²</td>
                        <td>{{ report.position_2_reading1 }} ({{ judge_list.position_2_reading1|safe }})</td>
                        <td>{{ report.position_2_reading2 }} ({{ judge_list.position_2_reading2|safe }})</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><0.8 m/s²</td>
                        <td>\</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><0.8 m/s²</td>
                          <td>{{ report.position_4_reading1 }} ({{ judge_list.position_4_reading1|safe }})</td>
                        <td>{{ report.position_4_reading2 }} ({{ judge_list.position_4_reading2|safe }})</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><0.8 m/s²</td>
                        <td>\</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><0.8 m/s²</td>
                          <td>{{ report.position_6_reading1 }} ({{ judge_list.position_6_reading1|safe }})</td>
                        <td>{{ report.position_6_reading2 }} ({{ judge_list.position_6_reading2|safe }})</td>
                    </tr>
                </table>
                <div class="tentry center">
                    <img style="width: 80%" src="../static/img/01.jpg">
                </div>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>
                        <th trowspan="2">EXP Relief</th>
                        <th>Standard</th>
                        <td>TOP LEFT</td>
                        <td>{{ report.relief_top_left }} N ({{ judge_list.relief_top_left|safe }})</td>
                        <td>TOP RIGHT</td>
                        <td>{{ report.relief_top_right }} N ({{ judge_list.relief_top_right|safe }})</td>
                    </tr>
                    <tr>
                        <th>EXP Relief</th>
                        <th>40 - 80N</th>
                        <td>BOTTOM LEFT</td>
                        <td>{{ report.relief_bottom_left }} N ({{ judge_list.relief_bottom_left|safe }})</td>
                        <td>BOTTOM RIGHT</td>
                        <td>{{ report.relief_bottom_right }} N ({{ judge_list.relief_bottom_right|safe }})</td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>

                        <th>Combustion Chamber Air Leak</th>
                        <td>Less than litre/min @ 100Pa</td>
                        <td>{{ report.air_leak_test|safe }} lit/min ({{ judge_list.air_leak_test|safe }})</td>

                    </tr>

                </table>
            </div>
        </div>

        <div class="col_tentry" style="margin-top: 10px">
            <div class="tentry border">
                <div class="text">COMMENTS</div>
            </div>
            <div class="tentry border">
                <textarea style="width: 100%;height: 50px">{{ report.comments }}</textarea>
            </div>
        </div>
        <div class="trow">
            <div class="tentry border">
                <div class="text">TESTER ID</div>
                <select>
                    <option>{{ test_id }}</option>
                </select>
            </div>
            <div class="tentry border" style="width: 100%">

                <div class="text-small">{{ time }}</div>
            </div>
        </div>

    </div>

{% endblock %}


