{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    DV TEST FORM
{% endblock %}
{% block head %}
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include 'nav.html' %}
    <form id="myForm" action="{% url 'dvtest' %}" method="post" class="table">
        {% csrf_token %}
        <div class="trow divider">
            <div class="tentry border">
                <div class="text">SERIAL NO</div>
                <input name="serial_no" required type="text">
            </div>
            <div class="tentry border">
                <div class="text">GAS CONTROL NO.</div>
                <input name="gas_control_no" required type="text">
            </div>
        </div>
        <input name="model" id="input_model" type="text" hidden>
        <input name="destination" id="input_destination" type="text" hidden>
        <input name="gas_type" id="input_gas_type" type="text" hidden>
        <div class="trow divider">
            <div class="tentry border justify_center">
                <div class="text">MODEL</div>
                <select id="select_model">
                    {% for m in model %}
                        <option value="{{ m.name }}">{{ m.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="tentry border justify_center">
                <div class="text">DESTINATION</div>
                <select id="select_destination">
                    {% for m in destination %}
                        <option value="{{ m.name }}">{{ m.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="tentry border justify_center">
                <div class="text">GAS TYPE</div>
                <select id="select_gas_type">
                    {% for m in gas_type %}
                        <option value="{{ m.name }}">{{ m.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="tcol border">
            <div class="trow">
                <div class="tentry">
                    <div class="text">
                        TEST NO
                    </div>
                    <input value="1" type="text">
                    <input class="pageBtnDisabled" disabled type="button" value="|<">
                    <input class="pageBtnDisabled" disabled type="button" value="<">
                    <input class="pageBtnDisabled" disabled type="button" value=">">
                    <input class="pageBtnDisabled" disabled type="button" value=">|">
                </div>
            </div>
            <div class="trow">
                <div class="tentry border">
                    <div style="width: 100%;text-align: center;font-weight: bold;font-size: 20px">
                        PAT TEST
                    </div>
                </div>
            </div>
            <div class="trow">
                <div class="tentry border">
                    <div class="text">EARTH CONTINUITY</div>
                    <input name="earth_continuity" required type="text"> Ω
                </div>
                <div class="tentry border">
                    <div class="text">INSULATION</div>
                    <input name="insulation" required type="text"> Ω
                </div>
            </div>
            <div class="trow">
                <div class="col_entry table-item">
                    <div class="tentry border">
                        <div class="text">BURNER PRESSURE SETTING</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">LINE PRESSURE.</div>
                        <div><input name="line_pressure" type="text"> kpa</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">SET PRESSURE HIGH</div>
                        <div><input name="set_pressure_high" type="text"> kpa</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">SET PRESSURE LOW</div>
                        <div><input name="set_pressure_low" type="text"> kpa</div>
                    </div>
                </div>
                <div class="col_entry table-item">
                    <div class="tentry border">
                        <div class="text">FLAME ROD CURRENT</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="trow">
                            <div class="text-small">STAGE</div>
                            <input name="stage_1_key" type="text">
                        </div>
                        <div class="trow">
                            <div class="text-small">FRONT</div>
                            <input name="stage_1_value" type="text"> μA
                        </div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="trow">
                            <div class="text-small">STAGE</div>
                            <input name="stage_2_key" type="text">
                        </div>
                        <div class="trow">
                            <div class="text-small">REAR</div>
                            <input name="stage_2_value" type="text"> μA
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" hidden value="Dv Test" name="test_type">
            <div class="trow">
                <div class="col_entry table-item">
                    <div class="tentry border">
                        <div class="text">RUN LEAKAGE</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">HIGH</div>
                        <div><input name="run_leakage_high" type="text"> mA</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">LOW</div>
                        <div><input name="run_leakage_low" type="text"> mA</div>
                    </div>
                </div>
                <div class="col_entry table-item">
                    <div class="tentry border">
                        <div class="text">RUN CURRENT</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">HIGH</div>
                        <div><input name="run_current_high" type="text"> A</div>
                    </div>
                    <div class="tentry space_between border">
                        <div class="text-small">LOW</div>
                        <div><input name="run_current_low" type="text"> A</div>
                    </div>
                </div>
            </div>
            <div class="col_entry" style="margin-top: 10px">
                <div class="tentry border">
                    <div class="text">COMMENTS</div>
                </div>
                <div class="tentry border">
                    <textarea name="comments" style="width: 100%;height: 50px"></textarea>
                </div>
            </div>
            <div class="trow">
                <div class="tentry border">
                    <div class="text">TESTER ID</div>
                    <select>
                        <option>{{ test_id }}</option>
                    </select>
                    <input name="test_id" value="{{ test_id }}" hidden type="text">
                </div>
                <div class="row_entry" style="width: 100%">
                    <div style="display: flex;flex-direction: row;justify-content: space-around" class="tentry border">
                        <button type="button" id="save" class="btn_save" value="Save">SAVE</button>
                        <button type="button" id="print" class="btn_print">PRINT</button>
                    </div>
                    <div style="display: flex;flex-direction: row;justify-content: center" class="tentry border">
                        <div class="text-small">{{ time }}</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>

        let tables = document.querySelectorAll(".table-item");
        for (let i of tables)
            i.addEventListener('dblclick', function () {
                i.style.display = "none";
            });


        $("#input_model").val($("#select_model option")[0].text);
        $("#input_destination").val($("#select_destination option")[0].text);
        $("#input_gas_type").val($("#select_gas_type option")[0].text);

        $("#select_model option").change(function () {
            let val = $("#select_model option:selected").val();
            $("#input_model").val(val);
        });
        $("#select_destination option").change(function () {
            let val = $("#select_destination option:selected").val();
            $("#input_destination").val(val);
        });
        $("#select_gas_type option").change(function () {
            let val = $("#select_gas_type option:selected").val();
            $("#input_gas_type").val(val);
        });
        $("#save").click(function () {
            let form = document.getElementById('myForm');
            form.submit();
        });
        $("#print").click(function () {
            window.print();
        })
    </script>
{% endblock %}



