{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    DV TEST FORM
{% endblock %}
{% block head %}
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% include 'nav.html' %}
    <div class="tt">
        <h1 style="text-align: center">TEST REPORT</h1>
        <div class="trow divider">
            <div class="tentry border">
                <div class="text">SERIAL NO:</div>
                <div class="value">10020</div>
            </div>
            <div class="tentry border">
                <div class="text">GAS CONTROL NO.</div>
                <div class="value">112385</div>
            </div>
        </div>

        <div class="trow divider">
            <div class="tentry border justify_center">
                <div class="text">MODEL</div>
                <div class="value">R1B2323</div>
            </div>
            <div class="tentry border justify_center">
                <div class="text">DESTINATION</div>
                <div class="value">NZ</div>
            </div>
            <div class="tentry border justify_center">
                <div class="text">GAS TYPE</div>
                <div class="value">LPG</div>
            </div>
        </div>

        <div class="col border">
            <div class="trow space_between divider">
                <div class="tentry">
                    <div class="text">
                        TEST NO:
                    </div>
                    <div class="value">1 of 2</div>
                </div>
                <div class="tentry">
                    <div class="text">
                        TEST RESULT:
                    </div>
                    <div class="value">PASS</div>
                </div>
            </div>
            <div class="trow divider">
                <table border="1" cellspacing="0">
                    <tr>
                        <th>PAT TEST</th>
                        <th>STANDARD</th>
                        <th>TEST</th>
                    </tr>
                    <tr>
                        <td>EARTH CONTINUITY</td>
                        <td>LESS THAN 0.1 Ω</td>
                        <td>0.05 Ω（PASS)</td>
                    </tr>
                    <tr>
                        <td>INSULATION</td>
                        <td>20M Ω（PASS)</td>
                        <td>20M Ω（PASS)</td>
                    </tr>
                </table>
                <table border="1" cellspacing="0">
                    <tr>
                        <th>/</th>
                        <th>/</th>
                    </tr>
                    <tr>
                        <td>VOLTAGE</td>
                        <td>230V±3</td>
                    </tr>
                    <tr>
                        <td>FREQUENCY</td>
                        <td>50 Hz</td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table border="1" cellspacing="0">
                    <tr>
                        <th>Burner Secondary Pressure Setting</th>
                        <th>STANDARD</th>
                        <th>TEST</th>
                    </tr>
                    <tr>
                        <td>Ignition</td>
                        <td>0.98@ 1.50Kpa</td>
                        <td>0.98（PASS)</td>
                    </tr>
                    <tr>
                        <td>PL (STAGE 1)</td>
                        <td>0.18@ 1.50Kpa</td>
                        <td>0.18（PASS)</td>
                    </tr>
                    <tr>
                        <td>PL (STAGE 3)</td>
                        <td>0.67@ 1.50Kpa</td>
                        <td>0.67（PASS)</td>
                    </tr>
                    <tr>
                        <td>PL (STAGE 4)</td>
                        <td>0.30@ 1.50Kpa</td>
                        <td>0.30（PASS)</td>
                    </tr>
                    <tr>
                        <td>PL (STAGE 7)</td>
                        <td>0.78@ 1.50Kpa</td>
                        <td>0.78（PASS)</td>
                    </tr>
                    <tr>
                        <th>POV CHARACTERISTIC</th>
                    </tr>
                    <tr>
                        <td>STAGE 70 @1.50 -3.00kPa</td>
                        <td>RANGE</td>
                        <td>kPa</td>
                    </tr>
                    <tr>
                        <td>STAGE 10 @1.50 -3.00kPa</td>
                        <td>RANGE</td>
                        <td>kPa</td>
                    </tr>
                </table>
                <table border="1" cellspacing="0">
                    <tr>
                        <th>/</th>
                        <th>STANDARD</th>
                        <th>TEST</th>
                    </tr>
                    <tr>
                        <td>Pre-purge</td>
                        <td>10-18sec</td>
                        <td>15 (PASS)</td>
                    </tr>
                    <tr>
                        <td>Convection Fan ON</td>
                        <td>10-16sec</td>
                        <td>13 (PASS)</td>
                    </tr>
                    <tr>
                        <td>Ignition Time</td>
                        <td>6-17sec</td>
                        <td>7 (PASS)</td>
                    </tr>
                    <tr>
                        <td>CUT OFF RESPONSE</td>
                        <td>LESS than 2</td>
                        <td>2 (PASS)</td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>
                        <th>\</th>
                        <th>\</th>
                        <th>STAGE 7</th>
                        <th>STAGE 4</th>
                        <th>STAGE 3</th>
                        <th>STAGE 1</th>
                        <th>EXTRA LOW</th>
                    </tr>
                    <tr>
                        <th trowspan="2">Convection fan RPM</th>
                        <td>Standard</td>
                        <td>1810-2010</td>
                        <td>\</td>
                        <td>1510-1710</td>
                        <td>980-1180</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>Results</td>
                        <td></td>
                        <td>\</td>
                        <td></td>
                        <td></td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <th trowspan="2">Electric Power WATTS</th>
                        <td>Standard</td>
                        <td>70-90</td>
                        <td>\</td>
                        <td>\</td>
                        <td>50-63</td>
                        <td>42-53</td>
                    </tr>
                    <tr>
                        <td>Results</td>
                        <td></td>
                        <td>\</td>
                        <td>\</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th trowspan="2">Gas Flow Litres/Minute</th>
                        <td>Standard</td>
                        <td>16.0-19.0</td>
                        <td>12.0-14.0</td>
                        <td>9.0-12.0</td>
                        <td>4.0-6.0</td>
                        <td>0.2-1.5</td>
                    </tr>
                    <tr>
                        <td>Results</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>
                        <th>POSITION</th>
                        <th>LIMIT</th>
                        <th>1th READING</th>
                        <th>2th READING</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><0.8 m/s²</td>
                        <td>\</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><0.8 m/s²</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><0.8 m/s²</td>
                        <td>\</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><0.8 m/s²</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><0.8 m/s²</td>
                        <td>\</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><0.8 m/s²</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="tentry center">
                    <img style="width: 80%" src="../static/img/01.jpg">
                </div>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>
                        <th trowspan="2">EXP Relief</th>
                        <th>Standard</th>
                        <td>TOP LEFT</td>
                        <td>70 N (PASS)</td>
                        <td>TOP RIGHT</td>
                        <td>70 N (PASS)</td>
                    </tr>
                    <tr>
                        <th>40 - 80N</th>
                        <td>BOTTOM LEFT</td>
                        <td>70 N (PASS)</td>
                        <td>BOTTOM RIGHT</td>
                        <td>70 N (PASS)</td>
                    </tr>
                </table>
            </div>
            <div class="trow divider">
                <table style="width: 100%" border="1" cellspacing="0">
                    <tr>

                        <th>Combustion Chamber Air Leak</th>
                        <td>Less than litre/min @ 100Pa</td>
                        <td>120 lit/min (PASS)</td>

                    </tr>

                </table>
            </div>
        </div>

        <div class="col_tentry" style="margin-top: 10px">
            <div class="tentry border">
                <div class="text">COMMENTS</div>
            </div>
            <div class="tentry border">
                <textarea style="width: 100%;height: 50px"></textarea>
            </div>
        </div>
        <div class="trow">
            <div class="tentry border">
                <div class="text">TESTER ID</div>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="tentry border" style="width: 100%">

                <div class="text-small">12/2018 12：45</div>
            </div>
        </div>

    </div>

{% endblock %}


